<% @lists.each do |list| %>
<div id="<%= list.name %>" class="tabcontent">
  <h3 class="py-3 text-primary"><%= list.name %></h3>
  <div class="table-responsive border rounded bg-white mb-4 shadow-sm">
    <table class='table text-primary' data-controller='sort-table'>
      <thead>
        <tr>
          <th class="text-left w-25 align-middle"><h6><em>Ferme</em></h6></th>
          <th class="text-center w-25 px-0"><div data-id='1' data-action='click->sort-table#sort'><h5 class='m-0 btn btn-outline-primary' data-target='sort-table.global'><strong><em>Score</em></strong></h5> <i class="arrow fas fa-arrow-down"></i><i class="arrow d-none fas fa-arrow-up"></i></div></th>
          <th class="text-center w-10 px-0"><div data-id='2' data-action='click->sort-table#sort'><h6 class='m-0 btn btn-outline-primary' data-target='sort-table.env'><em>Environnement</em></h6> <i class="arrow d-none fas fa-arrow-down"></i><i class="arrow d-none fas fa-arrow-up"></i></div></th>
          <th class="text-center w-10 px-0"><div data-id='3' data-action='click->sort-table#sort'><h6 class='m-0 btn btn-outline-primary' data-target='sort-table.social'><em>Social</em></h6> <i class="arrow d-none fas fa-arrow-down"></i><i class="arrow d-none fas fa-arrow-up"></i></div></th>
          <th class="text-center w-10 px-0"><div data-id='4' data-action='click->sort-table#sort'><h6 class='m-0 btn btn-outline-primary' data-target='sort-table.eco'><em>Economie</em></h6> <i class="arrow d-none fas fa-arrow-down"></i><i class="arrow d-none fas fa-arrow-up"></i></div></th>
          <th class="text-center w-10 px-0"><div data-id='5' data-action='click->sort-table#sort'><h6 class='m-0 btn btn-outline-primary' data-target='sort-table.propriete'><em>Propriétés</em></h6> <i class="arrow d-none fas fa-arrow-down"></i><i class="arrow d-none fas fa-arrow-up"></i></div></th>
        </tr>
      </thead>
      <tbody class='my-4 border-bottom' data-target='sort-table.body' data-ordering='descending'>
        <% list.farms.sort_by { |farm| -farm.total }.each do |farm| %>
        <tr>
          <td class="w-25 py-4">
            <%= link_to like_path(farm.likes.find_by(list: list)), method: :delete, remote: true do %>
              <i class="fas fa-minus-circle"></i>
            <% end %>
            <%= link_to "#{farm.name}", farm_path(farm), class: 'text-center text-decoration-none p-2 bg-success text-white rounded'%>
          </td>
          <td class="text-center w-25 py-4"><strong><h5><%= farm.total %> %</h5></strong></td>
          <td class="text-center w-10 py-4"><%= farm.average("Global") %> %</td>
          <td class="text-center w-10 py-4"><%= farm.average("Social") %> %</td>
          <td class="text-center w-10 py-4"><%= farm.average("Économique") %> %</td>
          <td class="text-center w-10 py-4"><%= farm.average("Environnemental") %> %</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
