<% @lists.each do |list| %>
<div id="<%= list.name %>" class="tabcontent">
  <h3 class="py-3"><%= list.name %></h3>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th class="text-center">Score générale</th>
          <th class="text-center">Note global</th>
          <th class="text-center">Note sociale</th>
          <th class="text-center">Note environnementale</th>
          <th class="text-center">Note économique</th>
        </tr>
      </thead>
      <tbody>
        <% Like.where(list_id: list.id).each do |like| %>
        <tr>
          <td><%= Farm.find(like.farm_id).name %></td>
          <td class="text-center"><%= Farm.find(like.farm_id).total %></td>
          <td class="text-center"><%= Farm.find(like.farm_id).average("Global") %></td>
          <td class="text-center"><%= Farm.find(like.farm_id).average("Social") %></td>
          <td class="text-center"><%= Farm.find(like.farm_id).average("Économique") %></td>
          <td class="text-center"><%= Farm.find(like.farm_id).average("Environnemental") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>