<% @lists.each do |list| %>
<div id="<%= list.name %>" class="tabcontent">
  <h3 class="py-3"><%= list.name %></h3>
  <div class="table-responsive">
    <table class="table table-striped table-sm" data-controller='sort-table'>
      <thead>
        <tr>
          <th>Name</th>
          <th class="text-center" data-target='sort-table.general' data-action='click->sort-table#sort'>Score générale</th>
          <th class="text-center" data-target='sort-table.propriete' data-action='click->sort-table#sort'>Note global</th>
          <th class="text-center" data-target='sort-table.social' data-action='click->sort-table#sort'>Note sociale</th>
          <th class="text-center" data-target='sort-table.environnemental' data-action='click->sort-table#sort'>Note environnementale</th>
          <th class="text-center" data-target='sort-table.eco' data-action='click->sort-table#sort'>Note économique</th>
          <th></th>
        </tr>
      </thead>
      <tbody data-target='sort-table.body'>
        <% Like.where(list_id: list.id).each do |like| %>
        <tr>
          <td><%= link_to Farm.find(like.farm_id).name, farm_path(Farm.find(like.farm_id)) %></td>
          <td class="text-center"><%= Farm.find(like.farm_id).total %></td>
          <td class="text-center"><%= Farm.find(like.farm_id).average("Global") %></td>
          <td class="text-center"><%= Farm.find(like.farm_id).average("Social") %></td>
          <td class="text-center"><%= Farm.find(like.farm_id).average("Économique") %></td>
          <td class="text-center"><%= Farm.find(like.farm_id).average("Environnemental") %></td>
          <td>
            <%= link_to like_path(like), method: :delete, remote: true do %>
              <i class="mr-2 fas fa-trash-alt"></i>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>