<% @lists.each do |list| %>
<div id="<%= list.name %>" class="tabcontent">
  <h3 class="py-3"><%= list.name %></h3>
  <div class="table-responsive border rounded bg-white mb-4 shadow-sm text-primary">
    <table class="table table-striped" data-controller='sort-table'>
      <thead>
        <tr>
          <th class="text-left col-2"><em>Ferme</em></th>
          <th class="text-center col-2" data-id='1' data-action='click->sort-table#sort'><em>Score générale</em></th>
          <th class="text-center col-2" data-id='2' data-action='click->sort-table#sort'><em>Note globale</em></th>
          <th class="text-center col-2" data-id='3' data-action='click->sort-table#sort'><em>Note sociale</em></th>
          <th class="text-center col-2" data-id='4' data-action='click->sort-table#sort'><em>Note environnementale</em></th>
          <th class="text-center col-2" data-id='5' data-action='click->sort-table#sort'><em>Note économique</em></th>
        </tr>
      </thead>
      <tbody class='my-4 border-bottom' data-target='sort-table.body' data-ordering='descending'>
        <% list.farms.sort_by { |farm| -farm.total }.each do |farm| %>
        <tr class='p-2'>
            <td class="col-2"><%= link_to "#{farm.name}", farm_path(farm), class: 'text-left text-decoration-none p-2 bg-success text-white rounded'%><%= link_to like_path(Like.where(farm_id: farm.id).where(list_id: list.id)), method: :delete, remote: true do %>
              <i class="mr-2 fas fa-trash-alt">   </i>
            <% end %>
            </td>
          <td class="text-center col-2"><%= farm.total %></td>
          <td class="text-center col-2"><%= farm.average("Global") %></td>
          <td class="text-center col-2"><%= farm.average("Social") %></td>
          <td class="text-center col-2"><%= farm.average("Économique") %></td>
          <td class="text-center col-2"><%= farm.average("Environnemental") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>