<div class="p-4 bg-white">
  <% Criterion.where(category_id: Category.where(name: zone)).each do |critere| %>
    <div class="my-4 row border-bottom">
      <div class="col-4 text-primary">
        <h6><%= critere.name %></h6>
      </div>
      <div class="col-7 text-right">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="<%= Scoring.find_by(farm_id: params[:id], criterion_id: critere.id).score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= Scoring.find_by(farm_id: params[:id], criterion_id: critere.id).score %>%"></div>
          <div class="progress-bar-2" role="progressbar" aria-valuenow="<%= 100 - Scoring.find_by(farm_id: params[:id], criterion_id: critere.id).score %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= 100 - Scoring.find_by(farm_id: params[:id], criterion_id: critere.id).score %>%"></div>
        </div>
      </div>
      <div class="text-left text-primary col-1">
        <p><strong><%= Scoring.find_by(farm_id: params[:id], criterion_id: critere.id).score %> %</strong></p>
      </div>
    </div>
  <% end %>
</div>
