<div class="container p-5">
  
  <div class="row no-gutters border rounded flex-md-row p-4 mb-4 shadow-sm">
    <div class="col-md-6 px-0 p-1 d-flex flex-column border-right">
      <h3 class="display-4"><%= @farm.name %></h3>
      <p class="lead my-3"><%= @farm.sector %></p>
    </div>
    <div class="col-md-6 px-0 p-1 d-flex flex-column">
      <p class="lead my-3">Score</p>
    </div>
  </div>

  <div class="row no-gutters border rounded flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <h3 class="mb-0">Description</h3>
      <p class="card-text mb-auto"><%= @farm.description %></p>
      <div class="d-flex">
        <%= render 'claps' %>
        <%= render 'add_to_list' %>
      </div>
    </div>
    <div class="col-auto d-none d-lg-block">
      <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
    </div>
  </div>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
        <div class="pt-3 px-3 text-center">
          <div class="h1 m-0">
            <% Scoring.where(criterion_id: Criterion.where(category_id: Category.find_by(name: 'Global')), farm_id: params[:id]) do |critere| %>
            <% end %>
          </div>
          <div class="text-muted">Globale</div>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
        <div class="pt-3 px-3 text-center">
          <div class="h1 m-0">
            24
          </div>
          <div class="text-muted">Economique</div>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
        <div class="pt-3 px-3 text-center">
          <div class="h1 m-0">
            11
          </div>
          <div class="text-muted">Social</div>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
        <div class="pt-3 px-3 text-center">
          <div class="h1 m-0">
            11
          </div>
          <div class="text-muted">Environnementale</div>
        </div>
      </a>
    </li>
  </ul>
  <div class="tab-content border border-top-0 rounded shadow-sm" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <div class="p-4">
        <%= render 'global_rating' %>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="p-3">
        ...
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it? It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="p-3">
        ...
      </div>
    </div>
  </div>
</div>
