<% if message.chatroom.farm.user == message.user %>
  <div class="message-container d-flex justify-content-end" id="message-<%= message.id %>">
    <div class="message-bull">
      <p class="m-0 text-right"><%= message.content %></p>
      <span class="author float-right"><%= message.user.first_name %> - <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></span>
    </div>
  </div>
  <% else %>
  <div class="message-container d-flex justify-content-start" id="message-<%= message.id %>">
    <div class="message-bull">
      <p class="m-0"><%= message.content %></p>
      <span class="author"><%= message.user.first_name %> - <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></span>
    </div>
  </div>
<% end %>
