<%= render 'shared/navbar_user' %>

<div class="d-flex">
  <%= render 'my_chatrooms' %>

  <div class="col-9 p-3">
    <div id="messages" data-chatroom-id="<%= @chatroom_first.id %>">
      <% @messages.each do |message| %>
       <% if @chatroom_first.farm.user == message.user %>
        <div class="message-container d-flex justify-content-end" id="message-<%= message.id %>">
          <div class="message-bull">
            <p class="m-0 text-right"><%= message.content %></p>
            <span class="author float-right"><%= message.user.first_name %> - <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></span>
          </div>
        </div>
        <% else %>
        <div class="message-container d-flex justify-content-start" id="message-<%= message.id %>">
          <div class="message-bull">
            <p class="m-0"><%= message.content %></p>
            <span class="author"><%= message.user.first_name %> - <%= message.created_at.strftime("%a %b %e at %l:%M%p") %></span>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

    <%= simple_form_for [ @chatroom_first, @message ], html: {data: {controller: 'send-message', target: 'send-message.form', action: 'ajax:complete->send-message#clear'}}, remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message", input_html: {data: {target: 'send-message.input'}} %>
      <%= f.submit "Envoyer", data: {action: 'click->send-message#submit'}, class: "btn btn-success text-white" %>
    <% end %>
  </div>
</div>
